@import "tailwindcss";

body {
  background-image: url('/mumbai-skyline1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.btn {
  @apply px-4 py-2 bg-cyan-300 text-white rounded-lg font-semibold;
}


